<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Gantt Test</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'smart-webcomponents-community/source/styles/smart.default.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'dist/demos.css' %}" />

<!--    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles.css' %}" />-->

</head>

<ul id="authors"></ul>

<body JSON.parse(jsonObj)>
    <smart-gantt-chart id="gantt"></smart-gantt-chart>

    <!-- scripts -->
    {% load static %}
    <script type="module" src="{% static 'dist/smart.ganttchart.js'%}"></script>
	<script type="module" src="{% static 'dist/smart.js'%}"></script>
{#	<script type="text/javascript" type="module" src="{% static 'dist/can-script.js'%}"></script>#}
<a class="btn btn-success" href='../' style="width: 100%;">МЕНЮ</a>
</body>
</html>