<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
           <table cellpadding="4" cellspacing="0" style="table-layout: fixed;">
                    <tr><td style="border: 1px solid green;" valign="middle" align="center" width="10" rowspan="5"><p class="vertical">Варианты</p></td></tr>

                    <tr><td><a class="btn btn-success" href='/admin' style="width: 100%;">admin</a></td></tr>
                    <tr><td><a class="btn btn-success" href='/gantt' style="width: 100%;">gantt_jQuery</a></td></tr>
                    <tr><td><a class="btn btn-success" href='/gantt_smart' style="width: 100%;">gantt_smart</a></tr>

                </table>
</body>
</html>